.dashboard-main {
  background: $silver;
}

.products {
  display: flex;
  flex-flow: row wrap;
  .product-item {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 45%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: $white;
  }
}

.history-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 5px;
  border-bottom: 1px solid $silver;
  background: $white;
}
