.transfer-main {
  width: 730px;
  max-width: 100%;
  margin: 20px auto;
  background: $white;
  font-weight: 300;
  border-radius: 5px;
  padding: 0 0 30px;

  .back-btn {
    display: inline-block;
    margin: 15px 0;
  }

  .custom-account-selector {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px 20px;
    border: 1px solid $silver;
    border-radius: 5px;
    letter-spacing: -1px;
    cursor: pointer;

    .amount,
    .current-account,
    .id-icon {
      margin-right: 10px;
    }

    .current-account {
      flex-grow: 1;

      p {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .amount {
      text-align: right;
      font-size: 40px;

      span:first-child {
        font-weight: 700;
      }
    }

    .account-list {
      position: absolute;
      z-index: 1;
      top: 74px;
      left: 0;
      width: 100%;
      height: 150px;
      background: $white;
      overflow: auto;

      li {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 10px 20px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent $silver $silver;
        // border-bottom: 1px solid $silver;
        // border-left: 1px solid $silver;
        // border-right: 1px solid $silver;
        list-style: none;
        transition: 0.2s;

        &:first-of-type {
          border-top: 1px solid $silver;
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid lighten($silver, 10%);
        }

        &:hover {
          background: $blue-light;
          color: $white;
        }
      }
    }
  }

  .form-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .account-type {
    padding: 20px 0;

    .add-from {
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    .type-radio-group {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      padding-top: 10px;

      label {
        display: inline-block;
        text-align: center;
        position: relative;
        cursor: pointer;
        width: 70px;
        margin: 0;
        padding: 85px 0 0;

        &:before {
          content: '';
          position: absolute;
          top: 10px;
          left: 0;
          width: 70px;
          height: 70px;
          background: $dark-gray;
          border-radius: 5px;
        }
      }

      input[type="radio"] {
        display: none;

        &:checked+label:before {
          background-color: $blue-light;
        }
      }

      .radio-country:after,
      .radio-currencies:after,
      .radio-gsm:after,
      .radio-own:after,
      .radio-tax:after,
      .radio-zus:after {
        content: '';
        position: absolute;
        top: 18px;
        left: 10px;
        width: 50px;
        height: 50px;
        background-size: auto;
      }

      .radio-country:after {
        background: url('../images/svg/country.svg') center center no-repeat;
        margin-left: 2px;
      }

      .radio-own:after {
        background: url('../images/svg/own.svg') center center no-repeat;
        margin-left: 2px;
      }

      .radio-currencies:after {
        background: url('../images/svg/currencies.svg') center center no-repeat;
        margin-left: 2px;
      }

      .radio-zus:after {
        content: 'ZUS';
        color: $white;
        font-size: 22px;
        font-weight: 700;
        margin-top: 8px;
      }

      .radio-tax:after {
        content: 'US';
        color: $white;
        font-size: 27px;
        font-weight: 700;
        margin-top: 4px;
      }

      .radio-gsm:after {
        background: url('../images/svg/gsm.svg') center center no-repeat;
        margin-top: 2px;
      }
    }
  }

  .recipient {
    padding: 10px 0;

    .search-box {
      position: relative;

      > a {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
      }

      input[type="text"] {
        margin: 0;
        padding: 0 40px 0 10px;
      }
    }
  }

  .where {
    padding: 5px 0 10px;

    input[type="radio"] {}
  }

  .account-number {
    margin-bottom: 5px;

    input[type="text"] {
      margin: 0;
    }
  }

  .sum {
    margin-bottom: 5px;

    input[type="text"],
    select {
      display: inline-block;
      margin: 0;
    }

    input[type="text"] {
      width: 170px;
    }

    select {
      width: 80px;
    }
  }

  .when {
    margin-bottom: 5px;

    input[type="date"] {
      margin: 0;
    }
  }

  .title {
    margin-bottom: 5px;

    input[type="text"] {
      margin: 0;
    }
  }

  .type-of-transfer {
    margin-bottom: 30px;

    input[type="radio"] {
      margin: 0;
    }
  }

  .submit-container {
    input[type="submit"] {
      padding: 10px 25px;
      background: $blue-light;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      color: $white;
      text-transform: uppercase;
    }
  }

  .error-border {
    border: 1px solid red;
    transition: 0.4s;

    &:focus {
      border: 1px solid red;
    }
  }

  #recipient {
    position: relative;
  }

  .error-msg {
    /***** in new row sausage *****/
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background: red;
    font-style: italic;
    color: $white;
    /***** floating sausage *****/
    // position: absolute;
    // max-width: 517px;
    // margin-right: 15px;
    // padding: 10px 20px;
    // border-radius: 5px;
    // background: red;
    // color: $white;
    // z-index: 2;
    &:before {
      content: ' ';
      position: absolute;
      top: -8px;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid $red;
    }
  }
}
