.header {
  background: $blue-light;
  color: $white;
}

.header-desktop {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  position: relative;
}

.header-mobile {
  display: none;
}

.user,
.menu,
.settings {
  display: flex;
  flex-flow: row wrap;
}

.logo {
  width: 94px;
  margin-right: 5px;
}

.user {
  min-width: 30%;

  .user-avatar {
    border-radius: 5px;
    margin-right: 20px;
  }

  .user-name {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .user-icons {
    width: 26px;
    margin-right: 20px;
  }
}

.menu {
  margin: 0;

  .menu-item {
    position: relative;
    display: inline-block;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0;
    width: 110px;
    .header-icon-small {
      width: 40px;
      margin: 0 auto 10px;
    }

    a {
      display: flex;
      flex-flow: column;
      text-align: center;
      color: $white;
    }

    &:hover {
      background: $black;

      &:before {
        position: absolute;
        bottom: -8px;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $black;
        content: '';
      }
    }
  }
}

.settings {
  position: absolute;
  right: 0;

  .settings-search,
  .settings-logout {
    padding: 10px;
  }

  .settings-search {
    border-right: 1px solid $silver;
  }

  .search-icon,
  .logout-icon {
    width: 40px;
  }
}

.search {
  position: absolute;
  top: 40px;
  right: 58px;
  width: 60%;

  .search-input {
    height: 70px;
    margin: 0;
    padding: 5px 20px;
    font-size: 2em;
    border-radius: 5px;
  }
}
